@import 'tailwindcss';
@import '@nuxt/ui';

@source "../../../content/**/*";

@theme static {
  --color-red-50: oklch(94.92% 0.021 17.52);
  --color-red-100: oklch(89.81% 0.042 17.95);
  --color-red-200: oklch(78.95% 0.094 19.38);
  --color-red-300: oklch(69.94% 0.144 21.43);
  --color-red-400: oklch(61.75% 0.193 24.8);
  --color-red-500: oklch(55.73% 0.21 27.55);
  --color-red-600: oklch(47.17% 0.176 27.37);
  --color-red-700: oklch(38.9% 0.142 27.01);
  --color-red-800: oklch(29.26% 0.103 26.32);
  --color-red-900: oklch(19.89% 0.061 24.66);
  --color-red-950: oklch(13.9% 0.039 23.72);
}

html,
body {
  height: 100%;
}

#__nuxt {
  display: contents;
}
