services:
  devcontainer:
    # image: node:lts
    build:
      context: .
      dockerfile: Dockerfile
    volumes:
      - ../..:/workspaces:cached
    command: sleep infinity
    ports:
      - 3000:3000
    environment:
      - ZEITY_DATABASE_URL=postgresql://postgres:postgres@postgres:5432/zeity
      - ZEITY_S3_END_POINT=http://minio:9000
      - ZEITY_MAILER_SMTP_HOST=maildev

  postgres:
    image: postgres:18
    ports:
      - 5432:5432
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: zeity
    volumes:
      - pg-data:/var/lib/postgresql

  minio:
    image: minio/minio
    ports:
      - 9000:9000
      - 9001:9001
    environment:
      MINIO_ROOT_USER: minio
      MINIO_ROOT_PASSWORD: minio123
    command: server /data --console-address ":9001"
    volumes:
      - minio-data:/data

  minio-init:
    image: minio/mc
    restart: "no"
    depends_on:
      - minio
    entrypoint: >
      sh -c "
        sleep 10 &&
        mc alias set local http://minio:9000 minio minio123 &&
        mc mb local/zeity || true
      "

  maildev:
    image: maildev/maildev
    ports:
      - 1080:1080
      - 1025:1025

volumes:
  pg-data:
  minio-data:
